@media(max-width:1170px){

    .quiz{
        top: 430px !important;
        height: 825px !important;
        /* margin-top: 100px !important; */
    }

    .quiz__inner > .quiz__image{
        display: none;
    }

    .quiz__inner > .quiz__wrapper{
        width: calc(100% - 20px);
        border-radius: 30px;
        height: calc(100% - 46px);
        margin-left: 10px;
        margin-right: 10px;
    }

    .quiz__title{
        width: 100%;
        text-align: center;
    }

    .quiz__title h4{
        font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
/* or 22px */

text-align: center;

color: #1D1D1D;
    }
    .quiz__title p svg{
        display: none;
    }
    .quiz__title p{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
text-align: center;
/* or 14px */


color: #1D1D1D;

    }


}

@media(max-width:540px){
    .quiz{
        top: 500px !important;
        height: 875px !important;
        /* margin-top: 100px !important; */
    }
    .quiz__inner > .quiz__wrapper{
        width: calc(100% - 20px);
        border-radius: 30px;
        height: calc(100% - 126px);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.quiz__content_mob{
    width: 100%;
    height: calc(100% - 270px);
    border-top: 1px solid transparent;
    /* background-color: red; */
}

.quiz__content_mob > div{
    width: 100%;
    height: 100%;
    border-top: 1px solid transparent;
    margin-top: 21px;
}
.quiz__content_mob > div > .line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz__content_mob > div .checkbox-o{
    width:100%;
    margin:8px;
    max-width: 126px;
    height: 196px;
    cursor: pointer;
}

.quiz__content_mob > div .checkbox-o > label{
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.quiz__content_mob > div .checkbox-o > label > .image{
    width: 100%;
    height: 165px;
    background: #E4E4E4;
    border-radius: 21.0097px;
    position: relative;
}
.quiz__content_mob > div .checkbox-o > label > .image > div{
    position: absolute;
    width: 31.01px;
    height: 31.01px;
    border-radius: 100px;
    background: #F5F5F5;
    left:50%;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    bottom:-10px;
    border: 2.8013px solid #C5C5C5;
}
.quiz__content_mob > div .checkbox-o > label > .image > div > svg{
    transition: .3s;
    transform: scale(1.2);
    fill:#C5C5C5;
}
.quiz__content_mob > div .checkbox-o > input:checked ~ label > .image > div{
    border-color: #F96A0A;
}
.quiz__content_mob > div .checkbox-o > input:checked ~ label > .image > div > svg{
    fill: #F96A0A;
}
.quiz__content_mob > div .checkbox-o > label > span{
    margin:0 auto;
    width: 100%;
    display: block;
    text-align: center;

font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
/* or 14px */

text-align: center;

color: #1D1D1D;
margin-top: 17px;
}



.quiz__controller_mob{
    width: 100%;
    height: 140px;
    margin-top: 5px;
}
.quiz__controller_mob > img{
    margin:0 auto;
}
.quiz__controller_mob > .line{
    /* background-color: red; */
    width: 100%;
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz__controller_mob > .line > a{
    background: linear-gradient(99.1deg, #F96A0A 26.13%, #FD8B0F 66.17%);
    mix-blend-mode: normal;
    box-shadow: inset 0px -4px 14px rgba(255, 255, 255, 0.2), inset 0px 0px 30px rgba(255, 255, 255, 0.25);
    border-radius: 57.5px;
    width: 100%;
    max-width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.quiz__controller_mob > .line > a.hide{
    visibility: hidden;
    display: none;
}
.quiz__controller_mob > .line > a.inactive{
    cursor: not-allowed;
    background: linear-gradient(99.1deg, #CACACA 26.13%, #D8D8D8 66.17%);
    box-shadow: inset 0px -4px 14px rgba(255, 255, 255, 0.2), inset 0px 0px 30px rgba(255, 255, 255, 0.25);
}
.quiz__controller_mob > .line > a.first{

}



.quiz__content_mob > div .checkbox-a{
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    height: 50px;
}
.quiz__content_mob > div .checkbox-a > label{
    width: 100%;
    cursor: pointer;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.quiz__content_mob > div .checkbox-a > label > div{
    width: 30px;
    height: 30px;
    margin-left: 19px;
    margin-right: 20px;
    background: #F5F5F5;
    border: 4px solid #C5C5C5;
    border-radius: 100px;
    display: flex;
    transition: .3s;
    align-items: center;
    justify-content: center;
}
.quiz__content_mob > div .checkbox-a > label > div > svg{
    fill:#C5C5C5;
    transition: .3s;
    transform: scale(1.5);
}
.quiz__content_mob > div .checkbox-a > input:checked ~ label > div{
    border-color: #FD8B0F;
}
.quiz__content_mob > div .checkbox-a > input:checked ~ label > div > svg{
    fill: #FD8B0F;
}
.quiz__content_mob > div > .checkbox-a > label > span{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */


color: #1D1D1D;

}

.quiz__content_mob > .slide2 > .image{
    width: 155px;
    height: 204px;
    background: #E4E4E4;
    border-radius: 25.9322px;
    margin:0 auto;
}



.quiz__content_mob > .slide2 > h5{
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
}
.quiz__content_mob > .slide2 > input[type=range]{
    margin-top: 20px;
}
.quiz__content_mob > .slide2 > label{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
.quiz__content_mob > .slide2 > label > span:nth-child(1){
    margin-right: auto;
}
.quiz__content_mob > .slide2 > label > span:nth-child(2){
    color:#FD8B0F;
    font-size: 20px;
}
.quiz__content_mob > .slide2 > label > span:nth-child(3){
    margin-left:auto;
}



.quiz__content_mob > .slide2 > div{
    width: 100%;
    display: flex;
    align-items: center; 
    margin:0 auto;
    margin-top: 40px;
    justify-content: center;
}
.quiz__content_mob > .slide2 > div > h5{
    margin-right: 10px;
}
.quiz__content_mob > .slide2 > div > div{
    display: flex;
    align-items: center;
    width: 67px;
    height: 26px;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 74.4615px;
}
.quiz__content_mob > .slide2 > div > div > div{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:0;color: #CBCBCB;
}
.quiz__content_mob > .slide2 > div > div > div:nth-child(2){
    margin:5px;
    color: #1D1D1D;
    font-size: 15px;
}

.quiz__content_mob > .slide8 > .f{
    font-style: normal;
font-weight: 700;
    margin-top: 30px;
    font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

color: #1D1D1D;

}
.quiz__content_mob > .slide8 > .input{
    width: 100%;
    height: 60px;
    border-radius: 100px;
    background-color: #fff;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz__content_mob > .slide8 > .input > input{
    width: 100%;
    border: none;
    margin-right: 10px;
}

.quiz__content_mob > .slide8 > a{
    width: 100%;
    height: 60px;
    border-radius: 100px;
    background-color: #FD8B0F;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-top: 20px;
    color:white;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* identical to box height, or 0% */

letter-spacing: 0.1em;

color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(99.1deg, #F96A0A 26.13%, #FD8B0F 66.17%);
mix-blend-mode: normal;
box-shadow: inset 0px -4px 14px rgba(255, 255, 255, 0.2), inset 0px 0px 30px rgba(255, 255, 255, 0.25);
border-radius: 200px;
}
.quiz__content_mob > .slide8 > .s{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 155%;
/* or 19px */

/* margin:0 auto; */
margin-top: 10px;
margin-left: 10px;
color: #4b4b4b;

}